body {
	margin: 0;
	background: #242423;
}

.box {
	height: 30px;
	width: 30px;
    animation-name: transforms;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-iteration-count: infinite;
    animation-fill-mode: normal;
    animation-delay: 1s;
    animation-direction: alternate;
}

.box-red {
	background: #ff4d4d;
    margin: 0;
}

.box-blue {
	background: #738cff;
    margin: 0;
}

.box-green {
	background: #46ff36;
    margin: 0;
}

.box-orange {
	background: #ffaf24;
    margin: 0;
}
@keyframes transforms {
    to{transform: translate(50vw,50vh) scaleX(10) skewY(60deg) ;}
}